---

name: Publish

on:
  push:
    branches:
      - master

  repository_dispatch:
    types:
      - publish

jobs:
  Elixir:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (master)
        uses: actions/checkout@v2
        with:
          path: master

      - name: Checkout (elixir)
        uses: actions/checkout@v2
        with:
          ref: elixir
          path: elixir

      - name: Setup (buf)
        env:
          VERSION: "0.31.1"
        run: |
          sudo curl -sSL \
            "https://github.com/bufbuild/buf/releases/download/v${VERSION}/buf-$(uname -s)-$(uname -m)" \
            -o /usr/local/bin/buf

          sudo chmod +x /usr/local/bin/buf

      - name: Setup (elixir)
        uses: actions/setup-elixir@v1
        with:
          elixir-version: "1.10"
          otp-version: "23.0"

      - name: Dependencies
        run: |
          cd ./elixir
          mix deps.get
          mix compile
          mix escript.install --force hex protobuf

          sudo cp /home/runner/.mix/escripts/protoc-gen-elixir /usr/local/bin/
          sudo chmod +x /usr/local/bin/protoc-gen-elixir

      - name: Generate
        run: |
          rm -rf ./elixir/lib
          mkdir ./elixir/lib

          cp -R ./master/protos/. ./elixir/priv/protos/
          cd ./elixir/priv/protos

          buf generate --template '{"version":"v1beta1","plugins":[{"name":"elixir","out:"../../lib"}]}'

      - name: Format
        run: |
          cd ./elixir
          mix format

      - name: Publish
        run: |
          git config --global user.email "hosting@system76.com"
          git config --global user.name "5iMON-bot"

          cd ./elixir
          git add ./lib
          git commit -m "update protobufs" || true
          git push
